#page_start h1 {
    color: #333; /* Couleur du texte */
    text-align: center; /* Centrer le texte */
    padding: 20px 0; /* Ajouter un peu d'espace autour du texte */
    font-size: 24px; /* Taille du texte */
    font-weight: bold; /* Rendre le texte en gras */
    margin-top: 20px; /* Espacement au-dessus du texte */
    font-family: Arial, sans-serif; /* Police de caractères */
}

.response-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.response-button:hover {
    background-color: #45a049;
}
